/*
------------------
Base Styles
------------------
*/

body {
    background: #d9d9d9;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

/*
-------------------
Grid / Flexbox
-------------------
*/

.flex {
    display: flex;
}

.flex.v-center {
    align-items: center;
}

.flex.h-center {
    justify-content: center;
}

.flex.h-space-between {
    justify-content: space-between;
}

/*
------------------
Titles
------------------
*/

.main-title {
    font-size: 4em;
    margin-bottom: 30px;
    font-family: 'Bevan', cursive;
    text-shadow: 2px 2px 0px #fff;
}

.section-title {
    font-size: 3em;
    margin-bottom: 30px;
    font-family: 'Carter One', cursive;
    text-shadow: 2px 2px 0px #fff;
}

/*
---------------------
Filter Row
---------------------
*/

.filter-row {
    min-height: 300px;
    background: #d9d9d9;
}

.filter-form {
    width: 200px;
}

/*
------------------
Player Sections
------------------
*/

.available-players-row {
    min-height: 600px;
    background: #003399;
    box-shadow: 0 5px 30px -5px #fff inset;
    padding: 15px 0;
    
}

.user-team-row {
    min-height: 500px;
    background: #990000;
    box-shadow: 0 5px 30px -5px #fff inset;
    padding: 15px 0;
}

.player-wrapper {
    background: #d9d9d9;
    margin-top: 5px;
    width: 90%;
    height: 380px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.added-player {
    opacity: 0.5;
}

.player-image {
    background: #fff;
    height: 150px;
    border: 2px solid #fff;
    border-radius: 10%;
    margin: 10px;
}

/*
------------------
Buttons
------------------
*/

.btn-main {
    background: #990000;
    color: #fff;
    border-radius: 5px;
    display: block;
}

.btn-page {
    width: 100px;
}

.btn-filter {
    margin: 10px auto 0;
}

.btn-main:active,
.btn-main:focus {
    outline: none;
}

.btn-main:hover {
    background: #800000;
    color: #fff;
}